.oer_slider_wrapper #slideshow-wrappercategory .linkhover
{
	background: none !important;
}
.oer_slider_wrapper #slideshow-wrappercategory
{
	background: none repeat scroll 0 0 transparent !important;
}
.oer_slider_wrapper #slideshow-wrappercategory #imagecategory img
{
	width: 55%;
	height: 310px;
	float: right;
	margin-top: 25px;
	border: 2px solid #cecece;
}
.oer_slider_wrapper #slideshow-wrappercategory #informationcategory
{
	bottom: auto !important;
	top: 50px !important;
	background: none repeat scroll 0 0 transparent !important;
	opacity: 1.0 !important;
}
.oer_slider_wrapper #slideshow-wrappercategory #informationcategory h3
{
	margin-bottom: 10px !important;
}
.oer_slider_wrapper #slideshow-wrappercategory #informationcategory h3 a
{
	color: #444444;
	text-decoration: none;
	font-weight: normal;
	font-size: 21px;
}
.oer_slider_wrapper #slideshow-wrappercategory #informationcategory p
{
	color: #757575 !important;
	line-height: 20px;
}
.oer_slider_wrapper #slideshow-wrappercategory #informationcategory p a.sldshw_more
{
	width: auto;
	float: left;
	background: none repeat scroll 0 0 #f4f4f4;
	border: 2px solid #cecece;
	text-decoration: none;
	color: #747474;
	margin: 25px 0 0;
	padding: 6px 20px;
}

/*slider*/

.bx-viewport li {}
.sngl-rsrc-img{
	position: relative;
	border: 2px solid #dddddd;
}
.sngl-rsrc-img .featureimg
{
	width: auto;
	float: left;
	height: 455px;
}
.sngl-rsrc-img .rsrcurl
{
    background: none repeat scroll 0 0 #a8aaab;
    bottom: 0;
    left: 0;
    padding: 10px;
    position: absolute;
    width: 508px;
	color: #0c5598;
	font-style: italic;
	text-align: right;
}
.alignedStandards{
	margin-top: 30px;	
}
.alignedStandards>h3{
	font-size: 25px;
    font-weight: normal;
    padding: 10px 10px 10px 0;
	font-weight: bold;
}
.stndrd_align>h3, .stndrds_notn> h3
{
	font-size: 16px;
}
.rsrcrghtcntr
{
	padding-top: 40px;
}
.rsrcrghtcntr .rsrcctgries
{
	float: left;
	margin: 0px;
	width: 100%;
	padding-bottom: 5px;
}
.rsrcctgries a, .rsrcctgries a:hover {
    background: none repeat scroll 0 0 #085394;
    border: 1px solid #000000;
    color: #ffffff;
    float: left;
    padding: 10px 10px;
    text-decoration: none;
    width: auto;
	margin: 0 10px 7px 0;
	font-weight: bold;
}
.cbxl .view a
{
	color: #1d57a8;
	text-decoration: underline;
}
.mediaType
{
	margin-top: 10px;
}
.rsrckeyword
{
	width: 100%;
	float: left;
	margin-top: 25px;
}
.rsrckeyword h3
{
    float: left;
    font-size: 20px;
    font-weight: bold;
    line-height: 22px;
    margin-bottom: 10px;
    margin-right: 15px;
    width: 100%;
}
.rsrckeyword .meta_container
{
	
}
.rsrckeyword .meta_container span 
{
	width: auto;
	float: left;
	margin: 0 10px 7px 0;
	padding: 0px;
	border: medium none;
	border-radius: 0px;
}
.rsrckeyword .meta_container span a
{
    background: none repeat scroll 0 0 #999999;
    border: 2px solid #085394;
    color: #ffffff;
    float: left;
    font-weight: bold;
    padding: 6px 12px;
    text-decoration: none;
    width: auto;
}
.rght-sd-cntnr-blg .oer_rdmor
{
	width: 100%;
	float: left;
	margin: 0;
	padding: 5px 0 8px;
}
.rght-sd-cntnr-blg .oer_rdmor a
{
    float: right;
    font-size: 13px;
    font-style: italic;
    width: auto;
	margin-right: 10px;
}
.oer_entry_meta
{
    border-bottom: 1px solid #dedede;
    border-top: 1px solid #dedede;
    float: left;
    margin: 20px 0 0;
    padding: 12px 0;
    width: 100%;
}
.oer_entry_meta .oer_date
{
	
}
.oer_entry_meta .oer_date span
{
	
}
.oer_entry_meta .oer_pstag
{
	width: auto;
	float: left;
}
.oer_entry_meta .oer_pstag a
{
	width: auto;
	float: left;
	font-size: 14px;
}
.oer_entry_meta .oer_pstag span.sprtr
{
	width: auto;
	float: left;
	margin: 0 5px;
}